.list {
    text-align: center;
}

.item {
    display: inline-block;
    vertical-align: top;
    
    width: 120px;
}
img {
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: grey;
}
img:hover {
    transform: translate(0, -5px);
  }
.caption {
    display: block;
}
h1 {
    text-align: center;
}