.god {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 180px;
}
img {
    width: 180px;
    height: 334px;
    background-color: grey;
}
.caption {
    display: block;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
th {
    background-color:#d62828;
    color: white;
}