img {
    border: 1px solid black ;
    float: left;
    width: 180px;
    height: 334px;
    margin: 24px 24px;
    background-color: #f4f4f4;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    float: right;
    margin: 24px;
    color: #2d3142;
    width: 25%;
}
th, td {
    padding: 10px;
}
th {
    background-color:#cca43b;
    color: white;
}
h1 {
    text-align: center;
}