/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
nav {
    margin: 0;
    padding: 0px 0px;
    text-align: left;
    overflow: hidden;
    background-color:#4f5d75;
    font-size: 1.5em;
    color: #e5e5e5;
}
nav a {
    display: inline-block;
    color: #e5e5e5;
    padding: 24px 24px;
    text-decoration: none;
}
nav a:hover {
    background-color: #555;
    color: white;
}
header {
    background-color:#4f5d75;
}
h1 {
    padding: 24px;
    font-size: 3em;
}
html {
    background: #f4f4f4;
    color: #2d3142;
    font-family: 'Roboto', sans-serif;
}

