<div class="container">
  <div class="input">
    <div> 
      <h1>God</h1>
      <select [(ngModel)]="selectedGod">
        <option [value]="god.Name" *ngFor="let god of gods"> {{god.Name}} </option>
      </select>
    </div>
    <div> 
      <h1>Item 1</h1>
      <select>
        <option *ngFor="let item of items" value="{{item.DeviceName}}"> {{item.DeviceName}} </option>
      </select>
    </div>
    <div>   
      <h1>Item 2</h1>
      <select>
        <option *ngFor="let item of items" value="{{item.DeviceName}}"> {{item.DeviceName}} </option>
      </select>
    </div> 
    <div> 
      <h1>Item 3</h1>
      <select>
        <option *ngFor="let item of items" value="{{item.DeviceName}}"> {{item.DeviceName}} </option>
      </select>
    </div>
    <div>    
      <h1>Item 4</h1>
      <select>
        <option *ngFor="let item of items" value="{{item.DeviceName}}"> {{item.DeviceName}} </option>
      </select>
    </div> 
    <div> 
      <h1>Item 5</h1>
      <select>
        <option *ngFor="let item of items" value="{{item.DeviceName}}"> {{item.DeviceName}} </option>
      </select>
    </div> 
    <div> 
      <h1>Player Level</h1>
      <select id="selectedLevel">
        <option> 0 </option>
        <option> 10 </option>
        <option> 20 </option>
      </select>
    </div>
    <div> 
      <h1>Enemy Defense</h1>
      <select>
        <option> 0 </option>
        <option> 50 </option>
        <option> 100 </option>
        <option> 200 </option>
      </select>
    </div> 
    <button (click)="calculateDamage()">Calculate</button>
  </div>
  <div class="output">
    <h1>Basic Attack DPS</h1>
    <p> {{ DPS }}</p>
  </div>
</div>